<div class = 'h-20 bg-gray-700'>
 <h1 class='text-3xl text-yellow-600 p-5 ml-8 max-w-xl'>TOPIC</h1>
</div>

<div class='h-70 overscroll-y-auto overflow-y-auto bg-gray-600'>
  {{!--
  {{#if messages}}
  {{#each messages}} --}}
  <container class='m-10 max-w-xl justify-around'>
    <p class='rounded-sm text-sm bg-yellow-300 text-black-600 ml-10 max-w-xs'>Donald 01/01/1990</p>
    <p class='rounded-sm text-3xl bg-yellow-300 text-yellow-600 ml-10 max-w-xl'>Hi what's up?</p>
  </container>
  {{!-- {{/each}}
  {{/if}} --}}

  <container class='m-10 max-w-xl justify-around'>
    <p class='rounded-sm text-sm bg-yellow-300 text-black-600 ml-10 max-w-xs'>Donald 01/01/1990</p>
    <p class='rounded-sm text-3xl bg-yellow-300 text-yellow-600 ml-10 max-w-xl'>Hi what's up?</p>
  </container>

  <container>
    <p class='justify-self-end rounded-sm text-3xl bg-yellow-200 text-yellow-600 m-10 max-w-xl'>Hey yall</p>
  </container>

  <p class='justify-self-end rounded-sm text-3xl bg-yellow-200 text-yellow-600 m-10 max-w-xl'>Hi</p>
  <p class='justify-self-end rounded-sm text-3xl bg-yellow-200 text-yellow-600 m-10 max-w-xl'>Hi</p>

</div>