<container class='flex h-50 bg-purple-300 justify-center'>
  <form id = "chatForm" class="form" action="" method="post">
    <label for="entry">
      <textarea type="text" class="rounded-3xl cursor-default resize-none text-7xl mt-8 h-30 min-w-max bg-yellow-200 overscroll-y-auto overflow-y-auto" name="chatEntry">
        </textarea> 
    </label>
    <input type="submit" class="text-9xl bg-purple-300 text-yellow-400 cursor-pointer" value="➤">
  </form>
</container>
<span class="flex bg-yellow-400 h-1.5 w-auto">
</span>