<container class="justify-center flex max-h-full bg-gray-700 ">
<h1 class="rounded-sm text-3xl bg-yellow-300 text-yellow-600 m-10 max-w-xl">Chat Rooms</h1>
<p class='rounded-sm text-3xl bg-yellow-300 text-yellow-600 m-10 max-w-xl'>Duck Room 1</p>
<p class='rounded-sm text-3xl bg-yellow-300 text-yellow-600 m-10 max-w-xl'>Duck Room 2</p>
<p class='rounded-sm text-3xl bg-yellow-300 text-yellow-600 m-10 max-w-xl'>Duck Room 3</p>
  {{!-- {{#if data}}
  {{else}}
  <p>"Sorry, no data available"</p>
  {{/if}} --}}
</container>
