<container class="justify-center flex max-h-full bg-gray-700 ">
<h1 class="rounded-sm text-3xl bg-yellow-300 text-yellow-600 m-10 max-w-xl">Chat Rooms</h1>
{{#each messageHistory}}
<a href='/duck/message/{{id}}' class='rounded-sm text-3xl bg-yellow-300 text-yellow-600 m-10 max-w-xl'>{{topic}}</p>
{{/each}}

  {{!-- {{#if data}}
  {{else}}
  <p>"Sorry, no data available"</p>
  {{/if}} --}}
</container>
